{{#each wines as |wine|}}

  <!-- {{> partial}}
  Don't uncomment yet -->


  <ul data-id="{{wine.id}}">
    <li> Name: <strong>{{wine.name}}</strong> Region: <strong>{{wine.region_name}}</strong> Vintage: <strong>{{wine.vintage}}</strong> Notes: <strong>{{wine.notes}}</strong> Price: $<strong>{{wine.price}}</strong></li>
    <li><button class= "delete-wine" >Delete Wine</button></li>
    <li><button class= "edit-wine-show">edit Wine</button></li>
    <form class="edit-wine form-inline" id="edit-wine-{{wine.id}}" >
          <fieldset>
            <input type="text" name="wine[name]" class="form-control" value="{{wine.name}}">
            <input type="text" name="wine[region_name]" class="form-control" value="{{wine.region_name}}">
            <input type="text" name="wine[vintage]" class="form-control" value="{{wine.vintage}}">
            <input type="text" name="wine[notes]" class="form-control" value="{{wine.notes}}">
            <input type="text" name="wine[price]" class="form-control" value={{wine.price}}>
            <input type="submit" name="submit" class="btn btn-primary" value="Edit Wine">
          </fieldset>
      </form>
  </li>
  </ul>

{{/each}}
